<section
  class="course-card"
  [ngStyle]="{
    display: 'flex',
    'flex-direction': 'column',
    'justify-content': 'center',
    'align-items': 'center'
  }"
  [ngClass]="{
    'is-first': isFirst,
    'is-last': isLast,
    'is-even': isEven,
    'is-odd': isOdd,
    beginner: course.category.toLowerCase() === 'beginner'
  }"
  *ngIf="course"
>
  <!-- TODO: 💄 Align Numbering and Title -->
  <h2 class="course-title">
    <span *ngIf="courseNumber">#{{ courseNumber }}&nbsp;</span>

    <label for="{{ 'course-desc' + courseNumber }}'>" class="screen-reader-text"
      >Course Description</label
    >
    <!-- Using a template reference variable  -->
    <!-- If there is no `courseNumber`, 😉 it's the only `id` 👍🏾 -->
    <input
      #courseDesc
      value="{{ course.description }}"
      (keyup)="onDescChange(courseDesc.value)"
      id="{{ 'course-desc' + courseNumber }}'>"
    />
  </h2>
  <img
    width="300"
    alt="{{ course.description + 'logo' }}"
    src="{{ course.iconUrl }}"
  />
  <p class="category" i18n>{{ course.category }}</p>
  <p class="course-description">
    {{ course.longDescription }}
  </p>

  <button *ngIf="courseNumber; else backButton" (click)="onSelectClick()">
    View Course
  </button>

  <ng-template #backButton
    ><button (click)="onGoBack()">Go Back</button></ng-template
  >
  <button (click)="onUpdateClick()">Update Course</button>
</section>
