<section
  class="course-card"
  [ngStyle]="{
    display: 'flex',
    'flex-direction': 'column',
    'justify-content': 'center',
    'align-items': 'center'
  }"
  [ngClass]="{
    'is-first': isFirst,
    'is-last': isLast,
    'is-even': isEven,
    'is-odd': isOdd,
    beginner: course.category.toLowerCase() === 'beginner'
  }"
>
  <h2 class="course-title">#{{ courseNumber }} {{ course.description }}</h2>
  <img
    width="300"
    alt="{{ course.description + 'logo' }}"
    src="{{ course.iconUrl }}"
  />
  <p class="category" i18n>{{ course.category }}</p>
  <p class="course-description">
    {{ course.longDescription }}
  </p>

  <button (click)="onSelectClick()">View Course</button>
</section>
