<section
  class="course-card"
  [ngClass]="{
    'is-first': isFirst,
    'is-last': isLast,
    'is-even': isEven,
    'is-odd': isOdd,
    beginner: course.category.toLowerCase() === 'beginner'
  }"
>
  <h2 class="course-title">#{{ courseNumber }} {{ course.description }}</h2>
  <img
    width="300"
    alt="{{ course.description + 'logo' }}"
    src="{{ course.iconUrl }}"
  />

  <p class="course-description">
    {{ course.longDescription }}
  </p>

  <button (click)="onClick()">View Course</button>
</section>
